



<ion-tabs>

  <ion-tab-bar slot="bottom" >

    <ion-tab-button tab="calendar" href="./applications-page.component.html">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>ЗАЯВКИ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="information-circle">
      <ion-icon name="information-circle" aria-hidden="true"></ion-icon>
      ПРОБЫ
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<!--  <ion-checkbox></ion-checkbox>-->
  <app-table


    [columns]="gridColumns"
    [options]="gridOptions"
    [data]="gridData"
    (onAngularGridCreated)="scheduleViews.angularGridReady($event.detail)"
    (onGridStateChanged)="scheduleViews.gridStateChanged($event.detail)"
    (onBeforeGridDestroy)="scheduleViews.saveCurrentGridState()"
    (onRowCountChanged)="scheduleViews.refreshMetrics($event.detail.eventData, $event.detail.args)">
  ></app-table>


<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-title>schedule</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content [fullscreen]="true">-->
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">schedule</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->
<!--</ion-content>-->
