<div class="container-buttons">
  <ion-button id="open-create-modal" expand="block">Добавить</ion-button>
  <ion-button id="open-edit-modal" expand="block" [disabled]="!tableService.selectedItem">Изменить</ion-button>
  <ion-button id="open-viewing-modal" expand="block" [disabled]="!tableService.selectedItem">Просмотреть</ion-button>
  <ion-button (click)="deleteAlert()" expand="block" [disabled]="!tableService.selectedItem">Удалить</ion-button>
  <ion-button id="open-test-modal" expand="block" >Выбрать</ion-button>
</div>

<app-table
  [columns]="gridColumns"
  [options]="gridOptions"
  [data]="gridData"
  (onAngularGridCreated)="tableService.angularGridReady($event.detail)"
  (onGridStateChanged)="tableService.gridStateChanged($event.detail)"
  (onBeforeGridDestroy)="tableService.saveCurrentGridState()"
  (onRowCountChanged)="tableService.refreshMetrics($event.detail.eventData, $event.detail.args)"
  (onSelectedRowsChanged)="tableService.onSelectedRowsChanged($event)"
>
</app-table>

<!--Create modal-->
<ion-modal trigger="open-create-modal" #newModal (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Закрыть</ion-button>
        </ion-buttons>
          <ion-title>Человек: поиск </ion-title>
        <ion-buttons slot="end">

          <ion-button (click)="confirm(newItem, 'new')" [strong]="true">Выбрать</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
        Пациент

      <ion-item>
        <ion-input
          label="Фамилия: "
          labelPlacement="stacked"
          type="text"
          placeholder="ФИО Пациеинта"
          [(ngModel)]="newItem.patient_fio"
        ></ion-input>

        <ion-input
          label="Имя: "
          labelPlacement="stacked"
          type="text"
          placeholder="ФИО Пациеинта"
          [(ngModel)]="newItem.patient_fio"
        ></ion-input>


        <ion-input
          label="Отчество: "
          labelPlacement="stacked"
          type="text"
          placeholder="ФИО Пациеинта"
          [(ngModel)]="newItem.patient_fio"
        ></ion-input>

      </ion-item>
      <ion-item>
        <ion-input
          label="Дата рождения"
          labelPlacement="stacked"
          type="text"
          placeholder="Исследование"
          [(ngModel)]="newItem.investigation_name"
        ></ion-input>

        <ion-input
          label="ИД Пациента"
          labelPlacement="stacked"
          type="text"
          placeholder="Статус"
          [(ngModel)]="newItem.status"
        ></ion-input>

        <ion-input
          label="СНИЛС"
          labelPlacement="stacked"
          type="text"
          placeholder="Тара"
          [(ngModel)]="newItem.tape"
        ></ion-input>
      </ion-item>
      Полис
      <ion-item>


        <ion-input
          label="Серия"
          labelPlacement="stacked"
          type="text"
          placeholder="Отклонение"
          [(ngModel)]="newItem.deviation"
        ></ion-input>

        <ion-input
          label="Номер"
          labelPlacement="stacked"
          type="text"
          placeholder="Отклонение"
          [(ngModel)]="newItem.deviation"
        ></ion-input>
      </ion-item>



<!--      <ion-item>-->
<!--        <ion-select label="Stacked label" label-placement="stacked">-->
<!--          <ion-select-option value="apple">Apple</ion-select-option>-->
<!--          <ion-select-option value="banana">Banana</ion-select-option>-->
<!--          <ion-select-option value="orange">Orange</ion-select-option>-->
<!--        </ion-select>-->
<!--      </ion-item>-->
    </ion-content>

  </ng-template>
</ion-modal>

<!--Edit modal-->
<ion-modal trigger="open-edit-modal" #editModal (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Отменить</ion-button>
        </ion-buttons>
        <ion-title>Редактирование пациента</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm(tableService.selectedItem, 'edit')" [strong]="true">Изменить</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="ФИО Пациента"
          labelPlacement="stacked"
          type="text"
          placeholder="ФИО Пациеинта"
          [(ngModel)]="tableService.selectedItem && tableService.selectedItem.patient_fio"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Исследование"
          labelPlacement="stacked"
          type="text"
          placeholder="Исследование"
          [(ngModel)]="tableService.selectedItem && tableService.selectedItem.investigation_name"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Статус"
          labelPlacement="stacked"
          type="text"
          placeholder="Статус"
          [(ngModel)]="tableService.selectedItem && tableService.selectedItem.status"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Тара"
          labelPlacement="stacked"
          type="text"
          placeholder="Тара"
          [(ngModel)]="tableService.selectedItem && tableService.selectedItem.tape"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Отклонение"
          labelPlacement="stacked"
          type="text"
          placeholder="Отклонение"
          [(ngModel)]="tableService.selectedItem && tableService.selectedItem.deviation"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Штрих-код"
          labelPlacement="stacked"
          type="text"
          placeholder="Штрих-код"
          [(ngModel)]="tableService.selectedItem && tableService.selectedItem.bar_code"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Пункт забора крови"
          labelPlacement="stacked"
          type="text"
          placeholder="Пункт забора крови"
          [(ngModel)]="tableService.selectedItem && tableService.selectedItem.bcp_name"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Дата приема"
          labelPlacement="stacked"
          type="text"
          placeholder="Дата приема"
          [(ngModel)]="tableService.selectedItem && tableService.selectedItem.date_direction"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Завершено"
          labelPlacement="stacked"
          type="text"
          placeholder="Завершено"
          [(ngModel)]="tableService.selectedItem && tableService.selectedItem.completed"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="ID Пациента"
          labelPlacement="stacked"
          type="text"
          placeholder="Дата приема"
          [(ngModel)]="tableService.selectedItem && tableService.selectedItem.patient_id"
        ></ion-input>
      </ion-item>


      <ion-item>
        <ion-select label="Stacked label" label-placement="stacked">
          <ion-select-option value="apple">Apple</ion-select-option>
          <ion-select-option value="banana">Banana</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>



<!--Create testing-->
<ion-modal trigger="open-test-modal" #editModal (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
        </ion-buttons>
        <ion-title>Заявка на лабораторное исследование</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm(tableService.selectedItem, 'edit')" [strong]="true">Сохранить</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">

      <ion-item>
        <ion-input
          label="Номер направления"
          labelPlacement="stacked"
          type="number"
          placeholder="Номер направления"
          [(ngModel)]="tableService.selectedItem && tableService.selectedItem.patient_fio"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Дата направления"
          labelPlacement="stacked"
          type="date"
          placeholder="Дата направления"
          [(ngModel)]="tableService.selectedItem && tableService.selectedItem.investigation_name"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Кем направлен" label-placement="stacked">
          <ion-select-option value="apple">Отделение акушерства и гинекологии</ion-select-option>
          <ion-select-option value="banana">Хирургическое отдление</ion-select-option>
          <ion-select-option value="orange">Кардиологическое отделение</ion-select-option>
          <ion-select-option value="orange">Травматологическое отделение</ion-select-option>
          <ion-select-option value="orange">Неврологическое отделение</ion-select-option>
          <ion-select-option value="orange">Нейрохирургическое отделение</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input
          label="Направивший врач"
          labelPlacement="stacked"
          type="text"
          placeholder="Направивший врач"
          [(ngModel)]="tableService.selectedItem && tableService.selectedItem.status"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-checkbox>
          Cito!
        </ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-input
          label="Комментарий"
          labelPlacement="stacked"
          type="text"
          placeholder="Комментарий"
          [(ngModel)]="tableService.selectedItem && tableService.selectedItem.deviation"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Вид оплаты" label-placement="stacked">
          <ion-select-option value="apple">ОМС</ion-select-option>
          <ion-select-option value="banana">Бюджет</ion-select-option>
          <ion-select-option value="orange">Платные услуги</ion-select-option>
          <ion-select-option value="orange">ДМС</ion-select-option>
          <ion-select-option value="orange">Договор</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input
          label="Регистрационный номер"
          labelPlacement="stacked"
          type="text"
          placeholder="Регистрационный номер"
          [(ngModel)]="tableService.selectedItem && tableService.selectedItem.bar_code"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Исследование" label-placement="stacked">
          <ion-select-option value="apple"> A26.01.018 Cоскоб с кожи на клещей</ion-select-option>
          <ion-select-option value="banana">A09.28.018 Анализ минерального состава мочевых камней</ion-select-option>
          <ion-select-option value="orange">A26.05.008.003 Исследование биологического материала на КУМ</ion-select-option>
          <ion-select-option value="orange">B03.016.006 Общий (клинический) анализ мочи</ion-select-option>
          <ion-select-option value="orange">B03.016.012 Общий (клинический) анализ плевральной жидкости</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>


