<div id="table-container">
  <ion-checkbox></ion-checkbox>
  <app-table


    [columns]="gridColumns"
    [options]="gridOptions"
    [data]="gridData"
    (onAngularGridCreated)="scheduleViews.angularGridReady($event.detail)"
    (onGridStateChanged)="scheduleViews.gridStateChanged($event.detail)"
    (onBeforeGridDestroy)="scheduleViews.saveCurrentGridState()"
    (onRowCountChanged)="scheduleViews.refreshMetrics($event.detail.eventData, $event.detail.args)">
  ></app-table>
</div>


<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-title>schedule</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content [fullscreen]="true">-->
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">schedule</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->
<!--</ion-content>-->
