<!--
<ion-title class="title">
  Медицинские специалисты клинической лаборатории
</ion-title>
-->

<ion-toast
  [isOpen]="itemService.isOpenToast"
  message="{{itemService.toastMsg}}"
  [duration]="5000"
  (didDismiss)="itemService.setOpenToast(false)"
></ion-toast>


<div class="ion-padding">
  Пациенты лаборатории
  <ion-item [button]="true" *ngIf="itemService?.id > 0">
    <ion-button
      class="btn btn-danger"
      (click)="itemService.deleteAlert(APP_ROUTES.patients_page)">
      Удалить
    </ion-button>
  </ion-item>

  <ion-item [button]="true">
    <ion-button
      class="btn btn-link"
      [routerLink]="['/' + APP_ROUTES.patients_page]">
      К списку
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-input
      label="ФИО"
      labelPlacement="stacked"
      type="string"
      placeholder="ФИО"
      [(ngModel)]="itemService.item.fio"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-select
      label="Пол"
      label-placement="stacked"
      [(ngModel)]="itemService.item.sex">
      <ion-select-option [value]="'female'">Женский</ion-select-option>
      <ion-select-option [value]="'male'">Мужской</ion-select-option>
    </ion-select>

    <ion-item>
      <!--      <ion-datetime value="2022-04-21T00:00:00" min="2022-03-01T00:00:00" max="2022-05-31T23:59:59"></ion-datetime>-->
    </ion-item>


    <ion-item>
      <!--      <ion-datetime value="2022-04-21T00:00:00" min="2022-03-01T00:00:00" max="2022-05-31T23:59:59"></ion-datetime>-->
      <ion-input
        label="Дата рождения"
        labelPlacement="stacked"
        type="date"
        placeholder="Дата приема"
        [(ngModel)]="itemService.item.bith_date"
      ></ion-input>
    </ion-item>

  </ion-item>

  <ion-item>
    <ion-input
      label="СНИЛС"
      labelPlacement="stacked"
      type="number"
      placeholder="СНИЛС"
      [(ngModel)]="itemService.item.snils_code"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="police_code"
      labelPlacement="stacked"
      type="number"
      placeholder="police_code"
      [(ngModel)]="itemService.item.police_code"
    ></ion-input>
  </ion-item>


  <ion-item [button]="true" [detail]="false" id="select-risks">
    <ion-label>Группы риска</ion-label>
    <div slot="end" id="selected-risks">{{ itemService.selectedRisksText }}</div>
  </ion-item>

  <ion-item [button]="true">
    <ion-button (click)="itemService.save(APP_ROUTES.patient_page)">{{ itemService.id ? 'Обновить' : 'Создать' }}
    </ion-button>
  </ion-item>
</div>


<ion-modal trigger="select-risks" #risksModal>
  <ng-template>
    <!--     (selectionChange)="fruitSelectionChanged($event)" -->
    <app-typeahead
      class="ion-page"
      title="Риски"
      [items]="itemService.availableRisks"
      [selectedItems]="itemService.item.risks"
      (selectionChange)="itemService.onChangeRisks($event);risksModal.dismiss();"
      (selectionCancel)="risksModal.dismiss();"
    ></app-typeahead>
  </ng-template>
</ion-modal>





