<div class="container">
  <div *ngIf="scannedId">
    Отсканированный ID: {{scannedId}}
  </div>
  ЗДЕСЬ МОЖНО ПИХНУТЬ ИНСТРУКЦИЮ КАК ПОЛЬЗОВАТЬСЯ СКАНЕРОМ  <BR>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer auctor laoreet ante non ornare. Fusce urna mauris, iaculis non porta sit amet, porta eu arcu. Suspendisse et condimentum leo. Ut a quam hendrerit lectus cursus pulvinar vel vitae tellus. Morbi id arcu quis elit dignissim dapibus. In erat elit, condimentum vel nunc accumsan, ornare tempor felis. Vivamus a euismod urna. Morbi tincidunt erat sed nunc feugiat, ut sodales felis mattis. Nunc id pharetra lorem. Proin placerat varius enim id scelerisque.
</div>

<app-qr-reader (scanCode)="scannedCode($event)"></app-qr-reader>
