<!-- <ion-title class="title">
  Медицинские специалисты клинической лаборатории
</ion-title>

<div class="container-buttons">
  <ion-button id="open-create-modal" expand="block">Добавить</ion-button>
  <ion-button id="open-edit-modal" expand="block" [disabled]="!tableService.selectedItem">Изменить</ion-button>
  <ion-button id="open-viewing-modal" expand="block" [disabled]="!tableService.selectedItem">Просмотреть</ion-button>
  <ion-button (click)="tableService.deleteAlert(itemUrl)" expand="block" [disabled]="!tableService.selectedItem">Удалить</ion-button>
</div> -->


<div class="ion-padding">
  Пациенты лаборатории

  <ion-item>
    <ion-input
      label="ФИО"
      labelPlacement="stacked"
      type="string"
      placeholder="ФИО"
      [(ngModel)]="tableService.item && tableService.item.fio"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-select
      label="Пол"
      label-placement="stacked"
      [(ngModel)]="tableService.item && tableService.item.sex">
      <ion-select-option value="0">Женский</ion-select-option>
      <ion-select-option value="1">Мужской</ion-select-option>
    </ion-select>

    <ion-item>
<!--      <ion-datetime value="2022-04-21T00:00:00" min="2022-03-01T00:00:00" max="2022-05-31T23:59:59"></ion-datetime>-->
    </ion-item>


    <ion-item>
<!--      <ion-datetime value="2022-04-21T00:00:00" min="2022-03-01T00:00:00" max="2022-05-31T23:59:59"></ion-datetime>-->
      <ion-input
        label="Дата рождения"
        labelPlacement="stacked"
        type="date"
        placeholder="Дата приема"
        [(ngModel)]="tableService.item && tableService.item.bith_date"
      > </ion-input>
    </ion-item>




  </ion-item>

  <ion-item>
    <ion-input
      label="СНИЛС"
      labelPlacement="stacked"
      type="number"
      placeholder="СНИЛС"
      [(ngModel)]="tableService.item && tableService.item.snils_code"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="police_code"
      labelPlacement="stacked"
      type="number"
      placeholder="police_code"
      [(ngModel)]="tableService.item && tableService.item.police_code"
    ></ion-input>
  </ion-item>


  <ion-item [button]="true" [detail]="false" id="select-risks">
    <ion-label>Группы риска</ion-label>
    <div slot="end" id="selected-risks">{{ selectedRisksText }}</div>
  </ion-item>

  <ion-item [button]="true">
    <ion-button (click)="tableService.addPatient(itemUrl)">Создать нового</ion-button>
  </ion-item>
</div>


<app-table
  [columns]="tableService.gridColumns"
  [options]="tableService.gridOptions"
  [data]="tableService.gridData"
  (onAngularGridCreated)="tableService.angularGridReady($event.detail)"
  (onGridStateChanged)="tableService.gridStateChanged($event.detail)"
  (onBeforeGridDestroy)="tableService.saveCurrentGridState()"
  (onRowCountChanged)="tableService.refreshMetrics($event.detail.eventData, $event.detail.args)"
  (onSelectedRowsChanged)="tableService.onSelectedRowsChanged($event)"
>
</app-table>

<ion-modal trigger="select-risks" #risksModal>
  <ng-template>
    <!--     (selectionChange)="fruitSelectionChanged($event)" -->
    <app-typeahead
      class="ion-page"
      title="Риски"
      [items]="tableService.risks"
      [selectedItems]="tableService.item.risks"
      (selectionChange)="onChangeRisks($event)"
      (selectionCancel)="risksModal.dismiss()"
    ></app-typeahead>
  </ng-template>
</ion-modal>





