<ion-app>
  <ion-router-outlet>
 </ion-router-outlet>

    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Подтянуть ФИО</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content color="light">

        <ion-list [inset]="true">
          <ion-item>
            <ion-label>
              <ion-img
                [src] = "'assets/icon/mp-timetable32.png'">
              </ion-img>
              расписание
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <ion-img
                [src] = "'assets/icon/testtubes32.png'">
              </ion-img>
              Пункты забора
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <ion-img
                [src] = "'assets/icon/lab-service32.png'">
              </ion-img>
              Настройки проб и контейнеров
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <ion-img
                [src] = "'assets/icon/book32.png'">
              </ion-img>
              Справочники
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <ion-img
                [src] = "'assets/icon/report32.png'">
              </ion-img>
              Отчеты
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <ion-img
                [src] = "'assets/icon/technocard-icon.svg'">
              </ion-img>
              Технологические карты
            </ion-label>
          </ion-item>

        </ion-list>

      </ion-content>

    </ion-menu>

  <ion-segment value="default">
    <ion-segment-button value="default">
      <ion-label>Default</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Segment</ion-label>
    </ion-segment-button>
  </ion-segment>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button>
            </ion-menu-button>
          </ion-buttons>
          <ion-title>АРМ Лаборанта</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-button>ЗАЯВКИ</ion-button>
        <ion-button [disabled]="true">ПРОБЫ</ion-button>
        <ion-grid>
          <ion-row>
            <ion-col>jnjk</ion-col>
            <ion-col></ion-col>
            <ion-col></ion-col>
            <ion-col></ion-col>
            <ion-col></ion-col>
            <ion-col></ion-col>
          </ion-row>
        </ion-grid>


      </ion-content>

    </div>


  </ion-app>

