
<ion-app>

  <!--Menu-->
  <ion-menu contentId="main-content">
    <!--Header menu-->
    <ion-header class="header">

      <ion-menu-toggle *ngIf="authService.isLoggedIn()">
        <ion-toolbar color="tertiary">
          <ion-title [routerLink]="[APP_ROUTES.profile_page]">
            Подтянуть ФИО
            <p><a [routerLink]="['/login2']">Logout</a></p>
          </ion-title>
        </ion-toolbar>
      </ion-menu-toggle>

      <ion-menu-toggle *ngIf="!authService.isLoggedIn()">
        <ion-toolbar color="tertiary">
          <ion-title>
            Авторизуйся
          </ion-title>
        </ion-toolbar>
      </ion-menu-toggle>


    </ion-header>
    <!--Content menu-->
    <ion-content color="light" *ngIf="authService.isLoggedIn()">
      <ion-list [inset]="true">
        <ion-menu-toggle [routerLink]="[APP_ROUTES.schedule_page]">
          <ion-label>
            <ion-icon name="medical-outline"></ion-icon>
            Настройки проб и контейнеров
          </ion-label>
        </ion-menu-toggle>

        <ion-menu-toggle [routerLink]="[APP_ROUTES.bcp_page]">
          <ion-label>
            <ion-icon name="eyedrop-outline"></ion-icon>
            Пункты забора
          </ion-label>
        </ion-menu-toggle>

        <ion-menu-toggle [routerLink]="[APP_ROUTES.timing_page]">
          <ion-label>
            <ion-icon name="book-outline"></ion-icon>
            Жунрал отбраковки
          </ion-label>
        </ion-menu-toggle>

        <ion-menu-toggle [routerLink]="[APP_ROUTES.timing_page]">
          <ion-label>
            <ion-icon name="document-text-outline"></ion-icon>
            Отчеты
          </ion-label>
        </ion-menu-toggle>

        <ion-menu-toggle [routerLink]="[APP_ROUTES.timing_page]">
          <ion-label>
            <ion-icon name="help-buoy-outline"></ion-icon>
            Отклоненные заявки
          </ion-label>
        </ion-menu-toggle>

        <ion-menu-toggle [routerLink]="[APP_ROUTES.timing_page]">
          <ion-label>
            <ion-icon name="football-outline"></ion-icon>
            Анализаторы
          </ion-label>

        </ion-menu-toggle>

      </ion-list>

    </ion-content>

  </ion-menu>
  <!--Page-->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-menu-toggle [routerLink]="[APP_ROUTES.schedule_page]">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>

<!--            <ion-img-->
<!--              [src]="'assets/icon/menu.png'">-->
<!--            </ion-img>-->



          <ion-title  *ngIf="authService.isLoggedIn()">АРМ Лаборанта</ion-title>
          <ion-title  *ngIf="!authService.isLoggedIn()">Авторизация пользователя</ion-title>
        </ion-menu-toggle>
      </ion-toolbar>
    </ion-header>
    <!--Content-->


    <ion-content class="ion-padding">

      <ion-router-outlet>

      </ion-router-outlet>


    </ion-content>

  </div>


</ion-app>

