<ion-app>

  <!--Menu-->
  <ion-menu contentId="main-content" #mainMenu>
    <!--Header menu-->
    <ion-header class="header">

      <ion-menu-toggle *ngIf="authService.isLoggedIn()">
        <ion-toolbar color="secondary">
          <ion-title [routerLink]="[APP_ROUTES.profile_page]">
            Иванов И.И.
            <p><a [routerLink]="['/login']">Выход</a></p>
          </ion-title>
        </ion-toolbar>
      </ion-menu-toggle>

      <ion-menu-toggle *ngIf="!authService.isLoggedIn()">
        <ion-toolbar color="secondary">
          <ion-title>
            Авторизуйся
          </ion-title>
        </ion-toolbar>
      </ion-menu-toggle>


    </ion-header>
    <!--Content menu-->
    <ion-content color="light" *ngIf="authService.isLoggedIn()">
      <ion-list [inset]="true">

        <ion-accordion-group>
          <ion-menu-toggle [routerLink]="[APP_ROUTES.qr_reader_page]">
            <ion-label>
              <ion-icon name="medical-outline"></ion-icon>
              Сканер
            </ion-label>
          </ion-menu-toggle>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>
                <ion-icon name="library-outline"></ion-icon>
                <div class="accordion-wrapper">
                  Справочники системы
                </div>
              </ion-label>
            </ion-item>
            <div class="content" slot="content" (click)="goToPage(APP_ROUTES.doctors_page)">Сотрудники</div>
            <div class="content" slot="content" (click)="goToPage(APP_ROUTES.analysers_page)">Анализаторы</div>
            <div class="content" slot="content" (click)="goToPage(APP_ROUTES.tests_page)">Тесты анализатора</div>
            <div class="content" slot="content" (click)="goToPage(APP_ROUTES.references_page)">Референсные значения
            </div>
            <div class="content" slot="content" (click)="goToPage(APP_ROUTES.patients_page)">Исследования</div>
            <div class="content" slot="content" (click)="goToPage(APP_ROUTES.patients_page)">Пациенты лаборатории</div>
            <div class="content" slot="content" (click)="goToPage(APP_ROUTES.tests_page)">Тесты анализатора</div>
            <div class="content" slot="content" (click)="goToPage(APP_ROUTES.analysers_page)">Пункты забора</div>

          </ion-accordion>
        </ion-accordion-group>
<!--
        <ion-menu-toggle [routerLink]="[APP_ROUTES.samples_page]">
          <ion-label>
            <ion-icon name="medical-outline"></ion-icon>
            Настройки проб и контейнеров
          </ion-label>
        </ion-menu-toggle>

        <ion-menu-toggle [routerLink]="[APP_ROUTES.schedule_page]">
          <ion-label>
            <ion-icon name="eyedrop-outline"></ion-icon>
            Заявки и исследования
          </ion-label>
        </ion-menu-toggle>

        <ion-menu-toggle [routerLink]="[APP_ROUTES.timing_page]">
          <ion-label>
            <ion-icon name="book-outline"></ion-icon>
            Журнал отбраковки
          </ion-label>
        </ion-menu-toggle>


        <ion-menu-toggle [routerLink]="[APP_ROUTES.timing_page]">
          <ion-label>
            <ion-icon name="document-text-outline"></ion-icon>
            Отчеты
          </ion-label>
        </ion-menu-toggle>

        <ion-menu-toggle [routerLink]="[APP_ROUTES.timing_page]">
          <ion-label>
            <ion-icon name="help-buoy-outline"></ion-icon>
            Отклоненные заявки
          </ion-label>
        </ion-menu-toggle>


        <ion-accordion-group>

          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>
                <ion-icon name="library-outline"></ion-icon>
                <div class="accordion-wrapper">
                  Справочники системы
                </div>
              </ion-label>
            </ion-item>
            <div class="content" slot="content" (click)="goToPage(APP_ROUTES.doctors_page)">Сотрудники</div>
            <div class="content" slot="content" (click)="goToPage(APP_ROUTES.analizators_page)">Анализаторы</div>
            <div class="content" slot="content" (click)="goToPage(APP_ROUTES.tests_page)">Тесты анализатора</div>
            <div class="content" slot="content" (click)="goToPage(APP_ROUTES.references_page)">Референсные значения
            </div>
            <div class="content" slot="content" (click)="goToPage(APP_ROUTES.patients_page)">Исследования</div>
            <div class="content" slot="content" (click)="goToPage(APP_ROUTES.patients_page)">Пациенты лаборатории</div>
            <div class="content" slot="content" (click)="goToPage(APP_ROUTES.tests_page)">Тесты анализатора</div>
            <div class="content" slot="content" (click)="goToPage(APP_ROUTES.analizators_page)">Пункты забора</div>

          </ion-accordion>
        </ion-accordion-group>
-->


      </ion-list>

    </ion-content>

  </ion-menu>

  <!--Page-->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-menu-toggle>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>


          <ion-title *ngIf="authService.isLoggedIn()">
            <ion-icon name="menu-outline"></ion-icon>
            АРМ Лаборанта
          </ion-title>
          <ion-title *ngIf="!authService.isLoggedIn()">Авторизация пользователя</ion-title>
        </ion-menu-toggle>
      </ion-toolbar>
    </ion-header>


    <!--Content-->
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>

