<div class="container-buttons">
  <ion-button id="open-create-modal" expand="block">Добавить</ion-button>
  <ion-button id="open-edit-modal" expand="block" [disabled]="!tableService.selectedItem">Изменить</ion-button>
  <ion-button id="open-viewing-modal" expand="block" [disabled]="!tableService.selectedItem">Просмотреть</ion-button>
  <ion-button (click)="tableService.deleteAlert(itemUrl)" expand="block" [disabled]="!tableService.selectedItem">Удалить</ion-button>

</div>

<app-table
  [columns]="tableService.gridColumns"
  [options]="tableService.gridOptions"
  [data]="tableService.gridData"
  (onAngularGridCreated)="tableService.angularGridReady($event.detail)"
  (onGridStateChanged)="tableService.gridStateChanged($event.detail)"
  (onBeforeGridDestroy)="tableService.saveCurrentGridState()"
  (onRowCountChanged)="tableService.refreshMetrics($event.detail.eventData, $event.detail.args)"
  (onSelectedRowsChanged)="tableService.onSelectedRowsChanged($event)"
>
</app-table>


<!-- Edit testing -->
<ion-modal trigger="open-edit-modal" #editModal (willDismiss)="tableService.onWillDismiss($event, itemUrl)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="tableService.cancel(editModal)">Закрыть</ion-button>
        </ion-buttons>
        <ion-title>Тест анализатора</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="tableService.confirm(tableService.selectedItem, 'edit', editModal)" [strong]="true">Сохранить</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Name"
          labelPlacement="stacked"
          type="string"
          placeholder="Name"
          [(ngModel)]="tableService.selectedItem && tableService.selectedItem.name"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Код услуги"
          labelPlacement="stacked"
          type="string"
          placeholder="Код услуги"
          [(ngModel)]="tableService.selectedItem && tableService.selectedItem.code"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-select
          label="Тесты исследования"
          [(ngModel)]="tableService.selectedItem && tableService.selectedItem.tests"
          label-placement="stacked">
          <ion-select-option value="test 1">Тест 1</ion-select-option>
          <ion-select-option value="test 2">Тест 2</ion-select-option>
          <ion-select-option value="test 3">Тест 3</ion-select-option>
          <ion-select-option value="test 4">Тест 4</ion-select-option>
        </ion-select>
      </ion-item>

      



    </ion-content>
  </ng-template>
</ion-modal>


<!--Create testing-->
<ion-modal trigger="open-create-modal" #newModal (willDismiss)="tableService.onWillDismiss($event, itemUrl)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="tableService.cancel(newModal)">Закрыть</ion-button>
        </ion-buttons>
        <ion-title>Тест анализатора: добавление</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="tableService.confirm(tableService.item, 'new', newModal)" [strong]="true">Сохранить</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Name"
          labelPlacement="stacked"
          type="string"
          placeholder="Name"
          [(ngModel)]="tableService.item && tableService.item.name"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Код услуги"
          labelPlacement="stacked"
          type="string"
          placeholder="Код услуги"
          [(ngModel)]="tableService.item && tableService.item.code"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-select
          label="Тесты исследования"
          [(ngModel)]="tableService.item && tableService.item.tests"
          label-placement="stacked">
          <ion-select-option value="test 1">Тест 1</ion-select-option>
          <ion-select-option value="test 2">Тест 2</ion-select-option>
          <ion-select-option value="test 3">Тест 3</ion-select-option>
          <ion-select-option value="test 4">Тест 4</ion-select-option>
        </ion-select>
      </ion-item>

      



    </ion-content>
  </ng-template>
</ion-modal>

