<ion-content>
  <!-- <ion-title class="title">
  Медицинские специалисты клинической лаборатории
</ion-title>
 -->
  <div class="container-buttons">
    <ion-button [routerLink]="['/' + APP_ROUTES.order_page]">Добавить</ion-button>
  </div>


  <div class="ion-padding">
    Заявки на исследования
  </div>

  <app-table
    [gridId]="'orders-page-grid'"
    [columns]="tableService.gridColumns"
    [options]="tableService.gridOptions"
    [data]="tableService.gridData"
    (onAngularGridCreated)="tableService.angularGridReady($event.detail)"
    (onGridStateChanged)="tableService.gridStateChanged($event.detail)"
    (onBeforeGridDestroy)="tableService.saveCurrentGridState()"
    (onRowCountChanged)="tableService.refreshMetrics($event.detail.eventData, $event.detail.args)"
    (onSelectedRowsChanged)="tableService.onSelectedRowsChanged($event)"
  >
  </app-table>






</ion-content>
