<!-- <ion-title class="title">
  Медицинские специалисты клинической лаборатории
</ion-title>

<div class="container-buttons">
  <ion-button id="open-create-modal" expand="block">Добавить</ion-button>
  <ion-button id="open-edit-modal" expand="block" [disabled]="!tableService.selectedItem">Изменить</ion-button>
  <ion-button id="open-viewing-modal" expand="block" [disabled]="!tableService.selectedItem">Просмотреть</ion-button>
  <ion-button (click)="tableService.deleteAlert(itemUrl)" expand="block" [disabled]="!tableService.selectedItem">Удалить</ion-button>
</div> -->



<div class="ion-padding">
    Исследование



  <ion-item>
    <ion-input
      label="Дата приема"
      labelPlacement="stacked"
      type="date"
      placeholder="Дата приема"
      [(ngModel)]="tableService.selectedItem && tableService.selectedItem.date_direction"
    ></ion-input>
  </ion-item>



  <ion-item [button]="true" [detail]="false" id="select-tests">
    <ion-label>Тесты для исследования </ion-label>
    <div slot="end" id="selected-tests">{{ selectedTestsText }}</div>
  </ion-item>

  <ion-item>
    <app-qr-creator></app-qr-creator>
  </ion-item>
</div>


<app-table
  [columns]="tableService.gridColumns"
  [options]="tableService.gridOptions"
  [data]="tableService.gridData"
  (onAngularGridCreated)="tableService.angularGridReady($event.detail)"
  (onGridStateChanged)="tableService.gridStateChanged($event.detail)"
  (onBeforeGridDestroy)="tableService.saveCurrentGridState()"
  (onRowCountChanged)="tableService.refreshMetrics($event.detail.eventData, $event.detail.args)"
  (onSelectedRowsChanged)="tableService.onSelectedRowsChanged($event)"
>
</app-table>

<ion-modal trigger="select-tests" #testsModal>
  <ng-template>
    <!--     (selectionChange)="fruitSelectionChanged($event)" -->
    <app-typeahead
      class="ion-page"
      title="Тесты"
      [items]="tableService.tests"
      [selectedItems]="tableService.item.tests"
      (selectionChange)="onChangeRisks($event)"
      (selectionCancel)="testsModal.dismiss()"
    ></app-typeahead>
  </ng-template>
</ion-modal>





