<ion-title class="title">
  Типы диагностического оборудования </ion-title>
<app-table
  [gridId]="'eq-page-grid'"
  [columns]="gridColumns"
  [options]="gridOptions"
  [data]="gridData"
  (onAngularGridCreated)="tableService.angularGridReady($event.detail)"
  (onGridStateChanged)="tableService.gridStateChanged($event.detail)"
  (onBeforeGridDestroy)="tableService.saveCurrentGridState()"
  (onRowCountChanged)="tableService.refreshMetrics($event.detail.eventData, $event.detail.args)"
  (onSelectedRowsChanged)="tableService.onSelectedRowsChanged($event)"
>
</app-table>

<!--Create testing-->
